@using HearthBuilder.Models.Cards
@using HearthBuilder.Models.Decks
@using HearthBuilder.Models.Notifications

@{
    ViewBag.Title = "Index";


}

<div class="container">

    <h1>Browse Decks</h1>

    <div class="browseDecks">
        <div class="deckList">

            @foreach (Deck deck in ViewBag.decks)
            {
                <p>@deck.Title</p>

            }

        </div>
    </div>

</div>