<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySQLConnection" connectionString="Datasource=dmdev.ca;Database=themegos_hearthbuilder;uid=themegos_hearthb;pwd=UNl))vf]5+1V;" providerName="MySql.Data.MySqlClient" />
    <add name="HearthBuilderContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=HearthBuilderContext-20160417211722; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|HearthBuilderContext-20160417211722.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>