/* a font similar to hearthstone */
@font-face{
    font-family:belwe;
    font-style:normal;
    font-weight:400;
    src:url(/fonts/belwebd-webfont.eot) format("embedded-opentype"),
        url(/fonts/belwebd-webfont.woff) format("woff"),
        url(/fonts/belwebd-webfont.ttf) format("truetype")
}


body {
    padding-top: 50px;
    color: #333333;
    font-weight: 300;
	background: transparent url("/Content/Images/body-content-bg.jpg") 50% 0 repeat-y;
    position: relative;
}

h1, h2, h3, h4 {
    line-height: 200%;
    text-align: center;
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    color: #FFF;
    font-family: belwe;
}

input{
    color: #000;
}

.borderlessInput {
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
}

.navbar-default {
	background-color: #251d18;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);
	border: 0;
}

.navbar {
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a.active {
    color: #fff;
    background-color: #3d312d;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #F1CA43;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #3d312d;
    color: #fff;
}

.panel-default {
    border-color: #BFA880; /* #C5AD83 #BFA880 #AD9B78 */
}

.panel, .modal-content {
    margin-bottom: 20px;
    background-color: #f4e5c6;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.modal-dialog .modal-header {
    padding: 0;
}

.panel-default > .panel-heading, .modal-dialog .modal-title {
    font-size: 1.8em;
    text-align: center;
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    color: #FFF;
    font-family: belwe;
    background-color: #D9BE91;
}





/* Alert boxes */
.alert {
    margin-bottom: 0px;
}
.alert:last-child {
    margin-bottom: 20px;
}

.notificationAlert {
    position: fixed;
    top: 60px;
    left:40%;
    z-index:10;
}

.pickClass {

}

.portrait {
    text-align: center;
    position: relative;
}

.portrait .name {
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    font-size:3.5em;
    color: #FFF;
    font-family: belwe;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.portrait i {
    height: 273px;
    width: 236px;
    display: inline-block;
    transition: all 300ms;
}

.portrait i:hover {
    -webkit-filter: drop-shadow(0px 0px 10px #06e);
    filter: drop-shadow(0px 0px 10px #06e);
}

.druid i {
    background: url("/Content/Images/heros/DRUID.gif") center no-repeat;
}

.hunter i {
    background: url("/Content/Images/heros/HUNTER.gif") center no-repeat;
}

.mage i {
    background: url("/Content/Images/heros/MAGE.gif") center no-repeat;
}

.paladin i {
    background: url("/Content/Images/heros/PALADIN.gif") center no-repeat;
}

.priest i {
    background: url("/Content/Images/heros/PRIEST.gif") center no-repeat;
}

.rogue i {
    background: url("/Content/Images/heros/ROGUE.gif") center no-repeat;
}

.shaman i {
    background: url("/Content/Images/heros/SHAMAN.gif") center no-repeat;
}

.warlock i {
    background: url("/Content/Images/heros/WARLOCK.gif") center no-repeat;
}

.warrior i {
    background: url("/Content/Images/heros/WARRIOR.gif") center no-repeat;
}

.buildDeck {

}

.cardCount {
    font-weight: 400;
    font-size:1.2em;
    color: #7e6b51;
    font-family: belwe;
    text-align:center;
}

.buildDeck .deckOptions {
    text-align:center;
    padding: 12px;
}

.buildDeck .selectCard img {
    width:100%;
    cursor: pointer;
    transition: all 300ms;
}

.buildDeck .selectCard img:hover {
    -webkit-filter: drop-shadow(0px 0px 10px #06e);
    filter: drop-shadow(0px 0px 10px #06e);
}

.buildDeck .deckList {
    
}

.buildDeck .txtInput {
    width: 100%;
    color: #251d18;
    padding: 0 5px;
    text-align:center;
}

.deckList .cardRow {
    position: relative;
    display:block;
    height: 35px;
    background: url('/Content/Images/deck/dark.png') no-repeat;
    cursor: pointer;
}

.deckList .cardRow:hover .delCard{
    opacity: 1;
}

.deckList .cardFrame {
    background: url('/Content/Images/deck/frame.png') no-repeat;
    height: 35px;
    width: 218px;
    position: absolute;
}

.deckList .card {
    height: 34px;
    width: 134px;
    top: 0;
    right: 20px;
    position: absolute;
}

.deckList .cardName {
    position:absolute;
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    font-size:1em;
    color: #FFF;
    font-family: belwe;
    top: 8px;
    left: 35px;
}

.deckList .cardCost {
    position:absolute;
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    font-size:1.5em;
    color: #FFF;
    font-family: belwe;
    top: 1px;
    left: 12px;
}

.deckList .delCard {
    opacity:0;
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    font-size:1.5em;
    color: #FFF;
    font-family: belwe;
    position: absolute;
    width: 95%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.43);
    margin: 3px 10px;
    text-align: center;
    transition: all 200ms;
}

.deckList .delCard i {
    font-size: 1em;
    top: 4px;
    right: 10px;
    color: red;
}

.deckList .duplicate {
    position: absolute;
    top: 1px;
    right: 3px;
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    font-size: 1.5em;
    color: #BCAA00;
    font-family: belwe;
    background: url('/Content/Images/deck/countbox.png') no-repeat;
    height: 34px;
    width: 34px;
    padding: 1px 7px 0px 17px;
}

.browseDeck .deckList .cards{
    overflow:hidden;
    max-height: 140px;
}

.buildDeck .col-fixed-262 {
    width: 262px;
    position:absolute;
}

.buildDeck .col-offset-262 {
    padding-left: 280px;
}

.browseDeck {
    text-align: center;
}

.browseDeck .deckList {
    width: 230px;
    display: inline-block;
    position: relative;
}


.deckList .portrait .name {
    font-size: 1.2em;
    font-size: 2.5em;
    bottom: 20px;
}


.viewDeck {
    width: 230px;
    margin-left: auto ;
    margin-right: auto ;
    display: block;
    position: relative;
    text-align:center;
}

.viewDeck .fixed {
    position:fixed;
}

.filter, .news {
    text-align: center;
}

.filter .panel, .news .panel {
    display: inline-block;
}

.form-control {
    border: 1px solid #251D18;
}

.btn-default {
    border: 1px solid #251D18;
}

.btn-danger {
    border: 1px solid #251D18;
}

.btn-primary, .input-group-addon {
    color: #fff;
    background-color: #251D18;
    border-color: #000;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #3D312D;
    border-color: #000;
}