/* a font similar to hearthstone */
@font-face{
    font-family:belwe;
    font-style:normal;
    font-weight:400;
    src:url(/fonts/belwebd-webfont.eot) format("embedded-opentype"),
        url(/fonts/belwebd-webfont.woff) format("woff"),
        url(/fonts/belwebd-webfont.ttf) format("truetype")
}


body {
    padding-top: 50px;
    color: #333333;
    font-weight: 300;
	background: transparent url("/Content/Images/body-content-bg.jpg") 50% 0 repeat-y;
    position: relative;
}

h1, h2, h3, h4 {
    text-align: center;
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    color: #FFF;
    font-family: belwe;
}

input{
    color: #000;
}

.borderlessInput {
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
}

.navbar-default {
	background-color: #251d18;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);
	border: 0;
}

.navbar {
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a.active {
    color: #fff;
    background-color: #3d312d;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #F1CA43;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #3d312d;
    color: #fff;
}

.panel-default {
    border-color: #BFA880; /* #C5AD83 #BFA880 #AD9B78 */
}

.panel, .modal-content {
    margin-bottom: 20px;
    background-color: #f4e5c6;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.modal-dialog .modal-header {
    padding: 0;
}

.panel-default > .panel-heading, .modal-dialog .modal-title {
    font-size: 1.8em;
    text-align: center;
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    color: #FFF;
    font-family: belwe;
    background-color: #D9BE91;
}





/* Alert boxes */
.alert {
    margin-bottom: 0px;
}
.alert:last-child {
    margin-bottom: 20px;
}

.notificationAlert {
    position: fixed;
    top: 60px;
    left:40%;
    z-index:10;
}

.pickClass {

}

.pickClass .portrait {
    text-align: center;
}

.pickClass .name {
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    font-size:3.5em;
    color: #FFF;
    font-family: belwe;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.pickClass i {
    height: 275px;
    width: 240px;
    display: inline-block;
    
    background-size: 306px 464px !important;
    background-position-y: -113px !important;
}

.pickClass .druid i {
    background: url("/Content/Images/heros/HERO_06.gif") center no-repeat;
}

.pickClass .hunter i {
    background: url("/Content/Images/heros/HERO_05.gif") center no-repeat;
}

.pickClass .mage i {
    background: url("/Content/Images/heros/HERO_08.gif") center no-repeat;
}

.pickClass .paladin i {
    background: url("/Content/Images/heros/HERO_04.gif") center no-repeat;
}

.pickClass .priest i {
    background: url("/Content/Images/heros/HERO_09.gif") center no-repeat;
}

.pickClass .rogue i {
    background: url("/Content/Images/heros/HERO_03.gif") center no-repeat;
}

.pickClass .shaman i {
    background: url("/Content/Images/heros/HERO_02.gif") center no-repeat;
}

.pickClass .warlock i {
    background: url("/Content/Images/heros/HERO_07.gif") center no-repeat;
}

.pickClass .warrior i {
    background: url("/Content/Images/heros/HERO_01.gif") center no-repeat;
}

.buildDeck {

}

.buildDeck .cardCount {
    font-weight: 400;
    font-size:1.2em;
    color: #7e6b51;
    font-family: belwe;
    text-align:center;
}

.buildDeck .deckOptions {
    text-align:center;
    padding: 12px;
}

.buildDeck .selectCard img {
    width:100%;
    cursor: pointer;
}

.buildDeck .deckList {
    
}

.buildDeck .txtDeckName {
    width: 100%;
    color: #251d18;
}

.buildDeck .cardRow {
    position: relative;
    display:block;
    height: 35px;
    background: url('/Content/Images/deck/dark.png') no-repeat;
    cursor: pointer;
}

.buildDeck .cardRow:hover .delCard{
    visibility: visible;
}

.buildDeck .deckList .cardFrame {
    background: url('/Content/Images/deck/frame.png') no-repeat;
    height: 35px;
    width: 218px;
    position: absolute;
}

.buildDeck .deckList .card {
    height: 34px;
    width: 134px;
    top: 0;
    right: 20px;
    position: absolute;
}

.buildDeck .deckList .cardName {
    position:absolute;
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    font-size:1em;
    color: #FFF;
    font-family: belwe;
    top: 8px;
    left: 35px;
}

.buildDeck .deckList .cardCost {
    position:absolute;
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    font-size:1.5em;
    color: #FFF;
    font-family: belwe;
    top: 1px;
    left: 12px;
}

.buildDeck .deckList .delCard {
    visibility:hidden;
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    font-size:1.5em;
    color: #FFF;
    font-family: belwe;
    position: absolute;
    width: 95%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.43);
    margin: 3px 10px;
    text-align: center;
}

.buildDeck .deckList .delCard i {
    font-size: 1em;
    top: 4px;
    right: 10px;
    color: red;
}

.buildDeck .deckList .duplicate {
    position: absolute;
    top: 1px;
    right: 3px;
    text-shadow: 1px 1px 0 #000,1px 0 0 #000,1px -1px 0 #000,0 -1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000,-1px -1px 0 #000;
    font-weight: 400;
    font-size: 1.5em;
    color: #BCAA00;
    font-family: belwe;
    background: url('/Content/Images/deck/countbox.png') no-repeat;
    height: 34px;
    width: 34px;
    padding: 1px 0px 0px 17px;
}

.buildDeck .col-fixed-262 {
    width: 262px;
    position:absolute;
}

.buildDeck .col-offset-262 {
    padding-left: 280px;
}
