
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h1>Welcome to Hearth Builder</h1>
    <div id="overview" class="panel panel-default">
        <div class="panel-heading">A Panel</div>
        <div class="panel-body">
            <p>
                Some content in the panel...
            </p>
        </div>
    </div>
</div>