
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h1>Welcome to Hearth Builder</h1>
    <div class="news">
        <div class="banner">
            <img class=".img-responsive" src="~/Content/Images/hearthstone_header.png" />
        </div>

        <div id="overview" class="panel panel-default">
            <div class="panel-heading">About the Website</div>
            <div class="panel-body">
                <p>
                    We made Hearth Builder to be a quick and easy way of sharing deck creations with friends.
                </p>
                <p>
                    Creating an account will allow you to save your decks, share them, and view them again at a later time.
                </p>
                <p>
                    You can also browse for other user's decks and give them a rating.
                </p>
                <p>
                    <b>Enjoy! :)</b>
                </p>
            </div>
        </div>
    </div>
</div>